# تجاهل ملفات البيئة الافتراضية
venv/
.venv/
env/

# تجاهل ملفات الكاش الخاصة ببايثون
__pycache__/
*.py[cod]
*$py.class

# تجاهل ملفات الـ Git (مهمة جداً عشان المساحة)
.git/
.gitignore

# تجاهل ملفات الإعدادات الخاصة بـ VS Code أو أي IDE
.vscode/
.idea/

# تجاهل ملفات الـ OS المؤقتة
.DS_Store
thumbs.db

# تجاهل ملف الـ .env 
.env